@import url('https://fonts.googleapis.com/css?family=Titillium+Web');

h1 {
    color: #db0f9e;
    text-align: left;
    font-family: 'Titillium Web', sans-serif;
}

body {
    background-color: #f0f0f0;
}



.description {
    color: blue;
    font-style: italic;
}

#link1 {
    color: red;
}

